
<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="well">
    <%= f.input :name %><br>
    <%= f.input :description %><br>
    <%= f.input :condition %><br>
    <%= f.input :price %><br> 
    <%= f.label :image %><br>
    <%= f.file_field :image %><br>
  </div>


    <%= f.button :submit, class: 'btn-primary' %>
 
<% end %>
