<!DOCTYPE html>
<html>
   <head>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
   </head>
   <body>
      <header class="navbar navbar-inverse">
         <div class="col-md-10 text-right">
            <div class="col-md-2">
               <h4><%= link_to "Hard ware", root_path, id: "logo" %></h4>
            </div>
            <div class="btn-group cart-text text-right">
               <%= render 'layouts/cart_text' %>
            </div>
            <% if current_user.try(:admin?) %>
            <%= link_to 'Manage Products', products_path %>
            <% end %>
            <% if current_user %>
            <%= link_to 'LogOut', destroy_user_session_path, method: :delete %>
            <% else %>
            <%= link_to 'LogIn', new_user_session_path  %> Or
            <%= link_to 'SignUp', new_user_registration_path  %>
            <% end %>
         </div>
      </header>
      <div class="container">
         <p class="notice">
            <%= notice %>
         </p>
         <p class="alert">
            <%= alert %>
         </p>
         <%= yield %>
      </div>
   </body>
</html>