<!DOCTYPE html>
<html>
<body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Hard ware", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user = current_user %>  
             <%= link_to 'LogOut', destroy_user_session_path, method: :delete %>
            <% else %>
             <%= link_to 'LogIn', new_user_session_path  %> Or 
             <%= link_to 'SignUp', new_user_registration_path  %>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </body>
</html>
